* {
    margin: 0;
    padding: 0;
}

/* BODY STYLES */
body, header {
    background-color: #FFF;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, a, p {
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
}
/* END BODY STYLES */

/* SECTION STYLE */
section {
    margin: 11rem auto 1rem;
    width: 100%;
    position: relative;
}

section h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    width: 96%;
}
/* END SECTION STYLE */

/* RESUME STYLES */
.resume div {
    width: 60%;
    margin-left: 15%;
}

.resume h2 {
    margin: 2rem auto 1rem;
}

.resume h3 {
    margin: 1rem auto .5rem;
}

.resume p {
    margin-left: 1rem;
    width: 80%;
}

.resume .date {
    margin-left: 0;
    margin-bottom: .5rem;
}

.resume a {
    text-decoration: underline;
    color: black;
}
/* END RESUME STYLES */

/* HEADER STYLES */
header {
    background-color: rgba(0, 0, 0, .85);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    padding-bottom: .5rem;
}

header nav {
    margin: 1rem auto;
    max-width: 1024px;
}

.nav-links a:last-child {
    margin-right: 2rem;
}

nav > div > a {
    color: white;
    opacity: initial;
    cursor: pointer;
    opacity: 100%;
}

.logo-box {
    float: left;
    margin-left: 1.5rem;
}

.logo {
    font-size: 2.3em;
    font-weight: 800;
    font-style: italic;
}

.sub-logo {
    font-size: 1.1em;
    display: block;
    text-align: center; 
    padding-left: 1.6rem;
    width: 100%;
}

.nav-links {
    top: 1.3rem;
    position: relative;
    float: right;
    margin-right: 1.5rem;
}

.nav-links a {
    font-size: 1.1em;
    padding: 2rem 1rem;
    text-transform: uppercase;
}

/* HEADER TRANSITIONS */
nav div, .nav-links, .nav-links a {
    transition: .5s;
    transition-delay: .1s;
    transform: translateZ(0);
}
nav:hover div, .nav-links:hover a {
    opacity: .25;
    transition: .3s;
    transform: translateZ(0);
}

nav div:hover, .nav-links a:hover {
    opacity: 1;
    transition: .3s;
    transform: translateZ(0);
}
/* END HEADER STYLES */

/* MEDIA QUEIRIES */
@media screen and (max-width: 750px) {
    body {
        min-width: 320px;
    }

    header {
        padding-bottom: 2rem;
        text-align: center;
    }

    .logo-box, .nav-links {
        width: 100%;
        text-align: center;
        margin: .3rem auto 0;
    }

    .logo {
        font-size: 1.7em;
    }

    .sub-logo {
        width: 100%;
        padding: 0;
    }

    .sub-logo, .nav-links {
        font-size: .9em;
    }

    .nav-links {
        margin: 0;
    }

    .nav-links a {
        padding-top: .5rem;
        line-height: 2em;
    }

    .nav-links a:last-child {
        margin-right: 0;
    }

    .resume div {
        width: 90%;
        margin-left: 1rem;
    }

    .resume p {
        width: 80%;
    }

    .resume a {
        display: block;
        width: 100%;
        text-align: center;
    }
}