* {
    margin: 0;
    padding: 0;
}

/* BODY STYLES */
body, header {
    background-color: #FFF7F7;
    margin: 0 auto;
    width: 100%;
}

h1, h2, a, p {
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
}
/* END BODY STYLES */

/* SECTION STYLES */
section {
    margin: 11rem auto 1rem;
    width: 100%;
    position: relative;
}

section h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    width: 96%;
}

section > div {
    width: 29%;
    float: left;
    color: #fff;
    text-align: center;
    margin-left: 2.5%;
}

section > div:nth-child(3n+2) {
    clear: both;
}

section a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}

section figure {
    position: relative;
    width: 95%;
    text-align: center;
}

section img {
    width: 100%;
}

section h2 {
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    word-spacing: 1.3px;
    /* font-style: italic; */
    line-height: 1.5em;
    height: 4.5em;
    width: 95%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98.5%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .85);
  }
  
  section a:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    text-transform: uppercase;
  }

/* END SECTION STYLES */

/* ARTICLE TEXT */
.article-content {
    width: 100%;
}
.article-content img {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-size: cover;
}
.article-content p {
    width: 80%;
    line-height: 1.33em;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-left: 8%;
}
/* END ARTICLE TEXT */

/* HEADER STYLES */
header {
    background-color: rgba(0, 0, 0, .85);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    padding-bottom: .5rem;
}

header nav {
    margin: 1rem auto;
    max-width: 1024px;
}

.nav-links a:last-child {
    margin-right: 2rem;
}

nav > div > a {
    color: white;
    opacity: initial;
    cursor: pointer;
    opacity: 100%;
}

.logo-box {
    float: left;
    margin-left: 1.5rem;
}

.logo {
    font-size: 2.3em;
    font-weight: 800;
    font-style: italic;
}

.sub-logo {
    font-size: 1.1em;
    display: block;
    text-align: center; 
    padding-left: 1.6rem;
    width: 100%;
}

.nav-links {
    top: 1.3rem;
    position: relative;
    float: right;
    margin-right: 1.5rem;
}

.nav-links a {
    font-size: 1.1em;
    padding: 1rem 1rem;
    text-transform: uppercase;
}

/* HEADER TRANSITIONS */
nav div, .nav-links, .nav-links a {
    transition: .5s;
    transition-delay: .1s;
}
nav:hover div, .nav-links:hover a {
    opacity: .25;
    transition: .3s;
}

nav div:hover, .nav-links a:hover {
    opacity: 1;
    transition: .3s;
}
/* END HEADER STYLES */

/* MEDIA QUERIES */
@media screen and (min-width: 750px) {
    body {
        max-width: 1024px;
    }
}

@media screen and (max-width: 750px) {
    body {
        min-width: 320px;
    }

    header {
        padding-bottom: 2rem;
        text-align: center;
    }

    .logo-box, .nav-links {
        width: 100%;
        text-align: center;
        margin: .3rem auto 0;
    }

    .logo {
        font-size: 1.7em;
    }

    .sub-logo {
        width: 100%;
        padding: 0;
    }

    .sub-logo, .nav-links {
        font-size: .9em;
    }

    .nav-links {
        margin: 0;
    }

    .nav-links a {
        padding-top: .5rem;
        line-height: 2em;
    }

    section {
        width: 100%;
        margin: 10 0;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section > div {
        width: 100%;
        max-width: 340px;
        margin-left: 1rem;
    }

    section > div:nth-child(3n+2) {
        clear: none;
    }

    section h2 {
        font-size: .9em;
        text-align: center;
        font-weight: 600;
    }

    .nav-links a:last-child {
        margin-right: 0;
    }

    .article-content h1 {
        font-size: 2em;
    }
}