* {
    margin: 0;
    padding: 0;
}

/* BODY STYLES */
body {
    font-family: 'Cabin', sans-serif;
    /* max-width: 1024px;
    width: 100%; */
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darksalmon;
}

/* SECTION STYLES */
.intro span {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    padding-left: 1rem;
}

.intro img {
    background-position: center;
    object-fit: cover;
    width: 100%;
}

.intro h1 {
    position: absolute;
    top: 10rem;
    font-size: 2em;
}

.intro p {
    position: absolute;
    top: 15rem;
    font-size: 1.5em;
    width: 40%;
    line-height: 2.05em;
}

.intro p:last-child {
    top: 18.05rem;
}

/* CONTACT STYLES */
.contact {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 auto;
}

.contact a {
    text-align: right;
}

/* HEADER STYLES */
header {
    background-color: white;
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 5;
}

.logo {
    position: relative;
    top: 2rem;
    font-size: 3em;
    text-transform: lowercase;
    padding-left: .7rem;
}

.menu-list {
    float: right;
}

.menu-list a {
    font-size: 1.5em;
    padding: 0 .7rem 0;
}