/* ARTICLE TEXT */
.article-content {
    width: 100%;
    background-color: white;
    top: 35.5rem;
    /*left: 7rem;*/
    padding-bottom: 5rem;
}

.title-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip: rect(0, auto, 50rem, 0);
}

.article-content p {
    width: 80%;
    line-height: 1.33em;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-left: 8%;
}

.player {
  text-align: center;
  width: 80%;
  margin-left: 8%;
  margin-bottom: 1rem;
}
/* END ARTICLE TEXT */

@media screen and (max-width: 750px) {
  .article-content {
    top: 10rem;
    left: 0;
  }

  .article-content p {
    margin-left: 0;
    width: 90%;
  }

  .title-image img {
    clip: rect(0, auto, 20rem, 0);
  }

  .article-content h1 {
      font-size: 2em;
      width: 100%;
      left: 0;
  }


  .player {
    margin: 0 0 1rem;
  }

}
