* {
    margin: 0;
    padding: 0;
}

/* BODY STYLES */
body, header {
    background-color: #FFF;
    margin: 0 auto;
    width: 100%;
}

h1, a, p {
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
}
/* END BODY STYLES */

/* SECTION STYLE */
section {
    margin: 11rem auto 1rem;
    width: 100%;
    position: relative;
}

section h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    width: 96%;
}
/* END SECTION STYLE */

/* BIO STYLE */
.bio {
    margin-left: auto;
    width: 90%;
}

.bio figure {
  width: 30%;
}

.bio img {
    width: 100%;
    float: left;
    display: block;
    margin-left: 40%;
}

figcaption {
  font-family: 'Muli', sans-serif;
  display: inline-block;
  color: #aaa;
  width: 100%;
  margin: 0 0 1rem 40%;
  float: left;
  text-align: center;
}

.bio .bio-text {
    width: 40%;
    padding-left: 44.5%;
}

.bio p {
    line-height: 1.33em;
    font-weight: 300;
    margin-bottom: 1rem;
}
/* END BIO STYLE */

/* MEDIA QUEIRIES */
@media screen and (max-width: 750px) {
    body {
        min-width: 320px;
    }

    .bio figure {
      width: 100%;
      margin: auto;
    }

    .bio img {
        margin: 1rem auto;
        text-align: center;
        float: inherit;
        width: 100%;
        max-width: 300px;
    }

    figcaption {
      margin: 0 auto 1rem;
      width: 100%;
    }

    .bio .bio-text {
        width: 100%;
        padding: 0;
        margin: 1.5rem 0 0;
        display: inline-block;
    }

    .bio p {
        width: 100%;
        display: block;
    }
}
