/* HEADER STYLES */
header {
    background-color: rgba(0, 0, 0, .7);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    padding-bottom: .5rem;
}

header nav {
    margin: 1rem auto;
    max-width: 1024px;
}

nav a {
  color: white;
}

.show-menu {
  display: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  float: right;
}

input[type=checkbox] {
  display: none;
}

.nav-links {
  cursor: pointer;
}

.nav-links ul {
  float: right;
  text-transform: uppercase;
  list-style-type: none;
}

.nav-links li {
  display: inline;
}

.nav-links li {
  color: white;
  position: relative;
  font-size: 1em;
  display: inline-block;
}

.nav-links a {
  width: 100%;
  padding: 1.3rem 0;
  display: block;
  text-align: center;
}

.nav-links a:last-child {
  margin-right: 2rem;
}

.logo-box {
    float: left;
    margin-left: 1.5rem;
}

.logo {
    font-size: 2.3em;
    font-weight: 800;
    font-style: italic;
}

.sub-logo {
    font-size: 1.1em;
    display: block;
    text-align: center;
    padding-left: 1.6rem;
    width: 100%;
}

/* HEADER TRANSITIONS */
nav div, .nav-links, .nav-links li {
    transition: .5s;
    transition-delay: .1s;
    transform: translateZ(0);
}
nav:hover div, .nav-links:hover li {
    opacity: .25;
    transition: .3s;
    transform: translateZ(0);
}

nav div:hover, .nav-links li:hover {
    opacity: 1;
    transition: .3s;
    transform: translateZ(0);
}
/* END HEADER STYLES */

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
    header {
      padding-bottom: 2rem;
      /*text-align: center;*/
      padding: 0;
    }

    .logo-box {
      margin: 0 0 1rem 1rem;
      display: inline-block;
      padding: 0 0 ;
    }

    .logo {
      font-size: 1.7em;
    }

    .sub-logo {
      /*width: 100%;*/
      padding: 0;
    }

    .sub-logo, .nav-links {
      font-size: .9em;
    }

    .nav-links {
      display: inline;
    }

    .show-menu {
      margin: .5rem .5rem;
      padding: .6rem 1rem;
      display: inline-block;
      /*width: 20%;*/
    }

    .show-menu div {
      width: 25px;
      height: 2px;
      background-color: white;
      margin: 3px 0;
    }

    #menu {
      width: 100%;
    }

    #menu li {
      display: block;
      text-align: right;
    }

    input[type=checkbox] ~ #menu {
      visibility: hidden; /* hides sub-menu */
      /*display: block;*/
      opacity: 0;
      height: 0;
      transition: all .5s ease 0s, visibility .5s linear 0s;
    }

    input[type=checkbox]:checked ~ #menu {
      visibility: visible; /* shows sub-menu */
      opacity: 1;
      transition-delay: 0s;
      height: 275px;
      display: inline-block;
      text-align: center;
    }

    /* remove header transition */
    nav:hover div, .nav-links:hover li,
    nav div:hover, .nav-links li:hover {
        opacity: 1;
    }
}
