/* HEADER STYLES */
header {
    background-color: rgba(0, 0, 0, .7);
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    padding-bottom: .5rem;
}

header nav {
    margin: 1rem auto;
    max-width: 1024px;
}

.nav-links a:last-child {
    margin-right: 2rem;
}

nav > div > a {
    color: white;
    opacity: initial;
    cursor: pointer;
    opacity: 100%;
}

.logo-box {
    float: left;
    margin-left: 1.5rem;
}

.logo {
    font-size: 2.3em;
    font-weight: 800;
    font-style: italic;
}

.sub-logo {
    font-size: 1.1em;
    display: block;
    text-align: center; 
    padding-left: 1.6rem;
    width: 100%;
}

.nav-links {
    top: 1.3rem;
    position: relative;
    float: right;
    margin-right: 1.5rem;
}

.nav-links a {
    font-size: 1.1em;
    padding: 2rem 1rem;
    text-transform: uppercase;
}

/* HEADER TRANSITIONS */
nav div, .nav-links, .nav-links a {
    transition: .5s;
    transition-delay: .1s;
    transform: translateZ(0);
}
nav:hover div, .nav-links:hover a {
    opacity: .25;
    transition: .3s;
    transform: translateZ(0);
}

nav div:hover, .nav-links a:hover {
    opacity: 1;
    transition: .3s;
    transform: translateZ(0);
}
/* END HEADER STYLES */

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
    header {
        padding-bottom: 2rem;
        text-align: center;
    }

    .logo-box, .nav-links {
        width: 100%;
        text-align: center;
        margin: .3rem auto 0;
    }

    .logo {
        font-size: 1.7em;
    }

    .sub-logo {
        width: 100%;
        padding: 0;
    }

    .sub-logo, .nav-links {
        font-size: .9em;
    }

    .nav-links {
        margin: 0;
    }

    .nav-links a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 2em;
    }
}