* {
    margin: 0;
    padding: 0;
}

/* BODY STYLES */
body {
    background-color: #FFF;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, a, p {
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
}
/* END BODY STYLES */

/* SECTION STYLE */
section {
    margin: 11rem auto 1rem;
    width: 100%;
    position: relative;
}

section h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    width: 96%;
}
/* END SECTION STYLE */

/* RESUME STYLES */
.resume div {
    width: 60%;
    margin-left: 15%;
}

.resume h2 {
    margin: 2rem auto 1rem;
}

.resume h3 {
    margin: 1rem auto .5rem;
}

.resume h3 span {
    font-weight: 400;
    font-style: italic;
}

.resume p {
    margin-left: 1rem;
    width: 80%;
}

.resume .date {
    margin-left: 0;
    margin-bottom: .5rem;
}

.resume a {
    text-decoration: underline;
    color: black;
}
/* END RESUME STYLES */

/* MEDIA QUEIRIES */
@media screen and (max-width: 750px) {
    body {
        min-width: 320px;
    }

    .resume div {
        width: 90%;
        margin-left: 1rem;
    }

    .resume p {
        width: 80%;
    }

    .resume a {
        display: block;
        width: 100%;
        text-align: center;
    }
}