* {
    margin: 0;
    padding: 0;
}

/* BODY STYLES */
body {
    background-color: #FFF;
    margin: 0 auto;
    width: 100%;
}

h1, h2, a, p, .menu {
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
}
/* END BODY STYLES */

/* SECTION STYLES */
section {
    margin: 11rem auto 1rem;
    width: 100%;
    position: relative;
}

section h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    width: 96%;
}

section > div {
    width: 29%;
    float: left;
    color: #fff;
    text-align: center;
    margin-left: 2.5%;
}

section > div:nth-child(3n+2) {
    clear: both;
}

section a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}

section figure {
    position: relative;
    width: 95%;
    text-align: center;
}

section img {
    width: 100%;
}

section h2 {
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.5em;
    height: 4.5em;
    width: 95%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98.5%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .7);
  }

  section a:hover .overlay {
    opacity: 1;
  }

  .overlay-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    text-transform: uppercase;
  }

/* END SECTION STYLES */

/* CONTACT TEXT */
.contact-text {
    color: black;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    margin: 4rem 0 0 -1rem;
}
/* END CONTACT TEXT */


/* MEDIA QUERIES */
@media screen and (min-width: 750px) {
    body {
        max-width: 1024px;
    }
}

@media screen and (max-width: 750px) {
    body {
        min-width: 320px;
    }

    section {
        width: 100%;
        margin: 10 0;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section > div {
        width: 100%;
        max-width: 340px;
        margin-left: 1rem;
    }

    section > div:nth-child(3n+2) {
        clear: none;
    }

    section h2 {
        font-size: .9em;
        text-align: center;
        font-weight: 600;
    }
}
